html{
  font-size: 16px;
}
.jumbotron{
  background-image: url(../images/photos/faculty-photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-bottom: 10px solid #8a54ff;
  height: 31rem;
}

.jumbotron p{
color: #ffffff;
}
.jumbotron h1{
color: #794ae2;
margin-bottom: 41px;
}
